In [19]:
import pandas as pd
from sqlalchemy import create_engine
#from datetime import datetime
import datetime as dt

### Store CSV into DataFrame

In [20]:
csv_file = "https://raw.githubusercontent.com/nagenderreddy5/ETL-Project/main/NetflixOriginals.csv"
netflix_originals_df = pd.read_csv(csv_file)
netflix_originals_df

,Title,Genre,GenreLabels,Premiere,Seasons,SeasonsParsed,EpisodesParsed,Length,MinLength,MaxLength,Status,Active,Table,Language
0,House of Cards,Political drama,"political,drama",1-Feb-13,"6 seasons, 73 episodes",6,73,42–59 min.,42,59,Ended,0,Drama,English
1,Hemlock Grove,Horror/thriller,"horror,thriller",19-Apr-13,"3 seasons, 33 episodes",3,33,45–58 min.,45,58,Ended,0,Drama,English
2,Orange Is the New Black,Comedy-drama,comedy-drama,11-Jul-13,"6 seasons, 78 episodes",6,78,50–92 min.,50,92,Renewed,1,Drama,English
3,Marco Polo,Historical drama,"historical,drama",12-Dec-14,"2 seasons, 20 episodes",2,20,48–65 min.,48,65,Ended,0,Drama,English
4,Bloodline,Thriller,thriller,20-Mar-15,"3 seasons, 33 episodes",3,33,48–68 min.,48,68,Ended,0,Drama,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,Busted!,Korean language variety show,"korean,language,variety,show",4-May-18,"1 season, 10 episodes",1,10,75–98 min.,75,98,Renewed,1,VarietyTalk,Korean
354,The Break with Michelle Wolf,Late-night,late-night,27-May-18,"1 season, 10 episodes",1,10,27 min.,27,27,Renewed,1,VarietyTalk,English
355,Norm Macdonald Has a Show,Talk show,"talk,show",14-Sep-18,"1 season, 10 episodes",1,10,26–35 min.,26,35,Pending,1,VarietyTalk,English
356,Patriot Act with Hasan Minhaj,Talk show,"talk,show",28-Oct-18,"3 volumes, 19 episodes",0,19,23–30 min.,23,30,Renewed,1,VarietyTalk,English
357,The Fix,Panel show,"panel,show",14-Dec-18,"1 season, 10 episodes",1,10,23–31 min.,23,31,Pending,1,VarietyTalk,English

In [21]:
netflix_originals_df.columns

Index(['Title', 'Genre', 'GenreLabels', 'Premiere', 'Seasons', 'SeasonsParsed',
       'EpisodesParsed', 'Length', 'MinLength', 'MaxLength', 'Status',
       'Active', 'Table', 'Language'],
      dtype='object')

### Create new data with select columns

In [22]:
new_netflix_originals_df = netflix_originals_df[['Title', 'Genre', 'Premiere']].copy()
#new_netflix_originals_df = new_netflix_originals_df.reset_index(drop=True, inplace=True)
new_netflix_originals_df

                             Title                         Genre   Premiere
0                   House of Cards               Political drama   1-Feb-13
1                    Hemlock Grove               Horror/thriller  19-Apr-13
2          Orange Is the New Black                  Comedy-drama  11-Jul-13
3                       Marco Polo              Historical drama  12-Dec-14
4                        Bloodline                      Thriller  20-Mar-15
..                             ...                           ...        ...
353                        Busted!  Korean language variety show   4-May-18
354   The Break with Michelle Wolf                    Late-night  27-May-18
355      Norm Macdonald Has a Show                     Talk show  14-Sep-18
356  Patriot Act with Hasan Minhaj                     Talk show  28-Oct-18
357                        The Fix                    Panel show  14-Dec-18

[358 rows x 3 columns]

In [23]:
new_netflix_originals_df.columns

Index(['Title', 'Genre', 'Premiere'], dtype='object')

In [24]:
new_netflix_originals_df['Premiere'] = pd.to_datetime(new_netflix_originals_df['Premiere'], infer_datetime_format=True)
new_netflix_originals_df

                             Title                         Genre   Premiere
0                   House of Cards               Political drama 2013-02-01
1                    Hemlock Grove               Horror/thriller 2013-04-19
2          Orange Is the New Black                  Comedy-drama 2013-07-11
3                       Marco Polo              Historical drama 2014-12-12
4                        Bloodline                      Thriller 2015-03-20
..                             ...                           ...        ...
353                        Busted!  Korean language variety show 2018-05-04
354   The Break with Michelle Wolf                    Late-night 2018-05-27
355      Norm Macdonald Has a Show                     Talk show 2018-09-14
356  Patriot Act with Hasan Minhaj                     Talk show 2018-10-28
357                        The Fix                    Panel show 2018-12-14

[358 rows x 3 columns]

In [25]:
start_date = "01-01-2018"
end_date = "12-31-2020"

after_start_date = new_netflix_originals_df["Premiere"] >= start_date
before_end_date = new_netflix_originals_df["Premiere"] <= end_date
between_two_dates = after_start_date & before_end_date
new_netflix_originals_df = new_netflix_originals_df.loc[between_two_dates]

new_netflix_originals_df

                             Title                         Genre   Premiere
18                  Altered Carbon               Science fiction 2018-02-02
19                   Seven Seconds                   Crime drama 2018-02-23
20                   Lost in Space               Science fiction 2018-04-13
21                      Insatiable             Dark comedy-drama 2018-08-10
22                   The Innocents          Supernatural fiction 2018-08-24
..                             ...                           ...        ...
353                        Busted!  Korean language variety show 2018-05-04
354   The Break with Michelle Wolf                    Late-night 2018-05-27
355      Norm Macdonald Has a Show                     Talk show 2018-09-14
356  Patriot Act with Hasan Minhaj                     Talk show 2018-10-28
357                        The Fix                    Panel show 2018-12-14

[219 rows x 3 columns]

In [26]:
new_netflix_originals_df['Qtr'] = pd.PeriodIndex(pd.to_datetime(new_netflix_originals_df.Premiere), freq='Q')
new_netflix_originals_df

<ipython-input-26-1865ec780312>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_netflix_originals_df['Qtr'] = pd.PeriodIndex(pd.to_datetime(new_netflix_originals_df.Premiere), freq='Q')

,Title,Genre,Premiere,Qtr
18,Altered Carbon,Science fiction,2018-02-02,2018Q1
19,Seven Seconds,Crime drama,2018-02-23,2018Q1
20,Lost in Space,Science fiction,2018-04-13,2018Q2
21,Insatiable,Dark comedy-drama,2018-08-10,2018Q3
22,The Innocents,Supernatural fiction,2018-08-24,2018Q3
...,...,...,...,...
353,Busted!,Korean language variety show,2018-05-04,2018Q2
354,The Break with Michelle Wolf,Late-night,2018-05-27,2018Q2
355,Norm Macdonald Has a Show,Talk show,2018-09-14,2018Q3
356,Patriot Act with Hasan Minhaj,Talk show,2018-10-28,2018Q4
357,The Fix,Panel show,2018-12-14,2018Q4

In [27]:
new_netflix_originals_df['quarter_new']=new_netflix_originals_df['Qtr'].astype(str).str[-2:] + ' - '+ new_netflix_originals_df['Qtr'].astype(str).str[:4]
new_netflix_originals_df

<ipython-input-27-0860348d53c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_netflix_originals_df['quarter_new']=new_netflix_originals_df['Qtr'].astype(str).str[-2:] + ' - '+ new_netflix_originals_df['Qtr'].astype(str).str[:4]

,Title,Genre,Premiere,Qtr,quarter_new
18,Altered Carbon,Science fiction,2018-02-02,2018Q1,Q1 - 2018
19,Seven Seconds,Crime drama,2018-02-23,2018Q1,Q1 - 2018
20,Lost in Space,Science fiction,2018-04-13,2018Q2,Q2 - 2018
21,Insatiable,Dark comedy-drama,2018-08-10,2018Q3,Q3 - 2018
22,The Innocents,Supernatural fiction,2018-08-24,2018Q3,Q3 - 2018
...,...,...,...,...,...
353,Busted!,Korean language variety show,2018-05-04,2018Q2,Q2 - 2018
354,The Break with Michelle Wolf,Late-night,2018-05-27,2018Q2,Q2 - 2018
355,Norm Macdonald Has a Show,Talk show,2018-09-14,2018Q3,Q3 - 2018
356,Patriot Act with Hasan Minhaj,Talk show,2018-10-28,2018Q4,Q4 - 2018
357,The Fix,Panel show,2018-12-14,2018Q4,Q4 - 2018

In [28]:
new_netflix_originals_df.columns

Index(['Title', 'Genre', 'Premiere', 'Qtr', 'quarter_new'], dtype='object')

In [29]:
clean_new_netflix_originals_df=new_netflix_originals_df.drop(['Premiere', 'Qtr'], axis=1)
clean_new_netflix_originals_df

                             Title                         Genre quarter_new
18                  Altered Carbon               Science fiction   Q1 - 2018
19                   Seven Seconds                   Crime drama   Q1 - 2018
20                   Lost in Space               Science fiction   Q2 - 2018
21                      Insatiable             Dark comedy-drama   Q3 - 2018
22                   The Innocents          Supernatural fiction   Q3 - 2018
..                             ...                           ...         ...
353                        Busted!  Korean language variety show   Q2 - 2018
354   The Break with Michelle Wolf                    Late-night   Q2 - 2018
355      Norm Macdonald Has a Show                     Talk show   Q3 - 2018
356  Patriot Act with Hasan Minhaj                     Talk show   Q4 - 2018
357                        The Fix                    Panel show   Q4 - 2018

[219 rows x 3 columns]

In [30]:
clean_new_netflix_originals_df.to_csv(r'C://Users//nagen//OneDrive//Documents//GitHub//GT-ATL-DATA-PT-09-2020-U-C-2//GT-ATL-DATA-PT-09-2020-U-C-2//13-ETL-Project//Resources//Netflix_originals_clean.csv', index = False)